body {
    font-size: 2rem;
    font-weight: 400;
    background-color: rgb(249, 234, 242);
    margin-left: 15px;
    color: rgb(34, 34, 34);
}

button:focus {
    outline: none;
}

.container-fluid > .row {
    margin: 0;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3rem;
}

.main-div {
    margin-top: 5rem;
    padding: 2rem;
    background-color: white;
    border-radius: 15px;
}

.log-main-div h1{
    display: flex-box;
    text-align: center;
    justify-items: center;
    margin-bottom: 40px;
}

input {
    padding-left: 15px;
}

#hamburger {
    height: 3rem;
    width: auto;
    margin-top: 0;
    justify-self: flex-end;
}

#search-bar {
    margin-top: 5px;
    display: flex;
    margin-bottom: 50px;
}

#search-input {
    width: 35rem;
    border: 1px solid rgb(107, 77, 87);
    border-radius: 10px;
    outline: none;
}

#search-btn {
    height: 3.5rem;
    width: 3.5rem;
    display: flex;
    padding-top: 5px;
    justify-content: flex-start;
    margin-left: -50px;
    border: none;
    border-top: 1px solid rgb(107, 77, 87);
    border-right: 1px solid rgb(107, 77, 87);
    border-bottom: 1px solid rgb(107, 77, 87);
    background-color: rgb(107, 77, 87);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#show-password {
    height: 3.3rem;
    width: auto;
    border: none;
    border-top: 1px solid rgb(107, 77, 87);
    border-right: 1px solid rgb(107, 77, 87);
    border-bottom: 1px solid rgb(107, 77, 87);
    background-color: rgb(107, 77, 87);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: rgb(249, 234, 242);
    margin-left: -98px;
}

#search-btn:active {
    border: none;
}

#search-icon {
    height: auto;
    width: 40px;
}

#logo-img {
    height: 45px;
    width: auto;
    margin-bottom: 50px;
}

.navbar {
    align-content: flex-start;
    padding-left: 0;
}

.navbar-brand {
    margin-top: 0;
}

.nav-item {
    margin-bottom: 30px;
    padding-left: 10px;
}

.nav-item a {
    color: rgb(107, 77, 87);
    padding-left: 5px;
    text-decoration: none;
}

.hover-animation {
    display: inline-block;
    position: relative;
    color: rgb(162, 117, 132);
}

.hover-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(162, 117, 132);
    transform-origin: bottom right;
    transition: transform 0.15s ease-out;
}

.hover-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.nav-links {
    position: relative;
}

.active-nav-link {
    background-color: rgba(212, 212, 212, 0.34);
    color: rgb(196, 174, 196);
    border-left: 3px solid rgb(169, 150, 169);
    font-weight: 500;
    padding-right: 10px;
    transition: font-weight 0.15s;
    transition: background-color 0.25s;
}

#profile-img {
    height: 80px;
    width: auto;
}

#date {
    font-size: 1.5rem;
    font-weight: 200;
    color: rgb(186, 161, 167);
    margin-bottom: 25px;
}

#filter {
    background-color: rgb(107, 77, 87);
    border-radius: 15px;
    color: white;
    padding: 5px 10px;
    border: none;
    outline: none;
    width: 200px;
}

.today-breakdown {
    border-radius: 25px;
    box-shadow: 1.5px 1.5px 5px 5px #888888;
    margin-bottom: 50px;
    padding-bottom: 10px;
    padding-left: 40px;
    background-color: rgb(107, 77, 87);
}

.tod-num {
    font-size: 3rem;
    color: rgb(219, 171, 190);
}

.tod-label {
    color: white;
}

#add-item {
    display: flex;
    margin-bottom: 10px;
}

#add-to-do, .log-input {
    width: 35rem;
    border: 1px solid rgb(107, 77, 87);
    border-radius: 10px;
}

#list-items input {
    background-color: rgb(186, 161, 167);
    color: white;
    border: none;
}

#list-items button{
    background-color: rgb(186, 161, 167);
    color: white;
    border: none;
    font-size: 1.5rem;
    height: 3.5rem;
    border-left: 1px solid white;
}

.task-input:focus {
    outline: none;
}

.complete-check {
    transform: scale(2);
    outline: none;
    accent-color: rgb(107, 77, 87);
}

.log-input {
    width: 25rem;
    margin-bottom: 20px;
}

.log-btn {
    height: 3.3rem;
    width: auto;
    border: none;
    border-radius: 10px;
    border-top: 1px solid rgb(249, 234, 242);
    border-right: 1px solid rgb(249, 234, 242);
    border-bottom: 1px solid rgb(249, 234, 242);
    background-color: rgb(249, 234, 242);
    color: rgb(107, 77, 87);
    margin-bottom: 20px;
}

.log-btn:hover {
    border-top: 1px solid rgb(107, 77, 87);
    border-right: 1px solid rgb(107, 77, 87);
    border-bottom: 1px solid rgb(107, 77, 87);
    background-color: rgb(107, 77, 87);
    color: rgb(249, 234, 242);
}

.log-link a {
    font-size: 1.5rem;
    color: rgb(162, 117, 132);
    margin: auto;
}

.log-link a:hover {
    font-size: 1.5rem;
    color: rgb(169, 150, 169);
    text-decoration: none;
}

#add-button {
    height: 3.5rem;
    width: 3.5rem;
    color: white;
    margin-left: -35px;
    border: none;
    border-top: 1px solid rgb(107, 77, 87);
    border-right: 1px solid rgb(107, 77, 87);
    border-bottom: 1px solid rgb(107, 77, 87);
    background-color: rgb(162, 117, 132);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: center;
}

.to-do-item {
    background-color: rgb(186, 161, 167);
    color: white;
    margin-bottom: 10px;
    border-radius: 5px;
    border-top: 1px solid white;
    padding: 5px;
}

.log-label{
    display: block;
}

#show-completed {
    background-color: white;
    color: rgb(186, 161, 167);
    border: none;
    font-size: 1.5rem;
}

#completed-items div {
    background-color: rgba(190, 172, 176, 0.774);
    color: white;
    border: none;
}

#completed-items input {
    background-color: rgba(186, 161, 167, 0);
    color: white;
    border: none;
}

#completed-items button {
    background-color: rgba(186, 161, 167, 0);
    color: white;
    border: none;
    font-size: 1.5rem;
    height: 3.5rem;
    border-left: 1px solid white;
}

.priority-label {
    margin-left: 10px;
    margin-right: 10px;
    border-left: 1px slid white;
}

@media (max-width: 1220px) {
    #logo-img {
        height: 35px;
        width: auto;
    }
    #nav-links {
        display: none;
    }
}

@media (min-width: 1220px) {
    #hamburger {
        display: none;
    }
}